################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/HomeWork GeekBrains CS Level 1/v16/Server/sqlite3
/.vs/HomeWork GeekBrains CS Level 1/v16
